@charset "ISO-8859-1";

html, body, div#main-panel {
	height: 100%;
}

<!-- Style pour les tables --> 

table {
	border-radius: 5px;
	border-collapse: collapse;
	border: solid 2px black;
}

table th {
	background-color: #111111;
	color: white;
}

table td, table#lstJury th {
	border: solid 1px black;
	border-collapse: collapse;
	padding: 10px;
	width: 75px;
	font-size: 18px;
}

<!-- Regles générales -->

div.row {
	width: 100%;
}